VITE_SUPABASE_URL=sb_publishable_VHCNcmbyPfCogZ0gAqu8pA_MeODHD5Z
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indpb3FxeHJmZXVoaXd4aGRoeXRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwOTA0NzcsImV4cCI6MjA5MzY2NjQ3N30.ued4jVHMhGsOVQnKFQoKtfyIcAzqJI6CO2_LugdmRi4
VITE_BACKEND_URL=http://localhost:3000
